openapi: 3.0.1
info:
  contact:
    email: k0swe@arrl.net
  description: |-
    LoTW provides a web service that accepts RESTful queries that report QSOs
      satisfying specified criteria:

      * accepted by LoTW after a specified date
      * confirmed by LoTW after a specified date
      * with a specified callsign
      * with an operator in a specified DXCC entity
      * in a specified mode
      * on a specified band
      * at a specified date and timeusing a specified station callsign
  title: Logbook of the World Query API
  version: "1.0"
externalDocs:
  description: Textual description of the spec
  url: https://lotw.arrl.org/lotw-help/developer-query-qsos-qsls/
servers:
- url: https://lotw.arrl.org/
paths:
  /lotwuser/lotwreport.adi:
    get:
      parameters:
      - explode: true
        in: query
        name: login
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: password
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: qso_query
        required: true
        schema:
          type: string
        style: form
      - description: If "yes", only QSL records are returned
        explode: true
        in: query
        name: qso_qsl
        required: false
        schema:
          type: string
        style: form
      - description: -| Returns QSL records received (matched or updated) on or after
          the specified date. Will also accept date/time in "YYYY-MM-DD HH:MM:SS"
          format.
        explode: true
        in: query
        name: qso_qslsince
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/x-arrl-adif; charset=iso-8859-1:
              schema:
                type: string
          description: response
      summary: The do-everything endpoint
components:
  schemas: {}
