openapi: 3.0.1
info:
  contact:
    email: k0swe@arrl.net
  description: |-
    LoTW provides a web service that accepts RESTful queries that report QSOs
      satisfying specified criteria:

      * accepted by LoTW after a specified date
      * confirmed by LoTW after a specified date
      * with a specified callsign
      * with an operator in a specified DXCC entity
      * in a specified mode
      * on a specified band
      * at a specified date and timeusing a specified station callsign
  title: Logbook of the World Query API
  version: "1.0"
externalDocs:
  description: Textual description of the spec
  url: https://lotw.arrl.org/lotw-help/developer-query-qsos-qsls/
servers:
- url: https://lotw.arrl.org/
paths:
  /lotwuser/lotwreport.adi:
    get:
      operationId: query
      parameters:
      - description: Note that while the user's primary call sign is usually the username,
          this is not always the case and should not be assumed.
        explode: true
        in: query
        name: login
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: password
        required: true
        schema:
          type: string
        style: form
      - description: If absent, ADIF file will contain no QSO records
        explode: true
        in: query
        name: qso_query
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: If "yes", only QSL records are returned
        explode: true
        in: query
        name: qso_qsl
        required: false
        schema:
          type: string
        style: form
      - description: Returns QSL records received (matched or updated) on or after
          the specified date. Will also accept date/time in "YYYY-MM-DD HH:MM:SS"
          format. Ignored unless qso_qsl="yes".
        explode: true
        in: query
        name: qso_qslsince
        required: false
        schema:
          type: string
        style: form
      - description: Returns QSO records received (uploaded) on or after the specified
          date. Will also accept date/time in "YYYY-MM-DD HH:MM:SS" format. Ignored
          unless qso_qsl="no".
        explode: true
        in: query
        name: qso_qsorxsince
        required: false
        schema:
          type: string
        style: form
      - description: Returns only records whose "own" call sign matches.
        explode: true
        in: query
        name: qso_owncall
        required: false
        schema:
          type: string
        style: form
      - description: Returns only records whose "worked" call sign matches.
        explode: true
        in: query
        name: qso_callsign
        required: false
        schema:
          type: string
        style: form
      - description: Returns only records whose mode matches. Mode must be one of
          the allowed modes.
        explode: true
        in: query
        name: qso_mode
        required: false
        schema:
          type: string
        style: form
      - description: Returns only records whose DXCC entity matches. (This implies
          qso_qsl="yes" since the DXCC entity of un-QSL'd stations isn't known to
          LoTW.) Value must be the ARRL DXCC entity number.
        explode: true
        in: query
        name: qso_dxcc
        required: false
        schema:
          type: string
        style: form
      - description: Returns only records with a QSO date on or after the specified
          value.
        explode: true
        in: query
        name: qso_startdate
        required: false
        schema:
          type: string
        style: form
      - description: Returns only records with a QSO time at or after the specified
          value on the starting date. This value is ignored if qso_startdate is not
          provided.
        explode: true
        in: query
        name: qso_starttime
        required: false
        schema:
          type: string
        style: form
      - description: Returns only records with a QSO date on or before the specified
          value.
        explode: true
        in: query
        name: qso_enddate
        required: false
        schema:
          type: string
        style: form
      - description: Returns only records with a QSO time at or before the specified
          value on the ending date. This value is ignored if qso_enddate is not provided.
        explode: true
        in: query
        name: qso_endtime
        required: false
        schema:
          type: string
        style: form
      - description: If "yes", returns fields that contain the Logging station's location
          data, if any.
        explode: true
        in: query
        name: qso_mydetail
        required: false
        schema:
          type: string
        style: form
      - description: If "yes", returns fields that contain the QSLing station's location
          data, if any.
        explode: true
        in: query
        name: qso_qsldetail
        required: false
        schema:
          type: string
        style: form
      - description: If "yes", each record contains the STATION_CALLSIGN and APP_LoTW_OWNCALL
          fields to identify the "own" call sign used for the QSO.
        explode: true
        in: query
        name: qso_withown
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/x-arrl-adif:
              schema:
                type: string
          description: response
      summary: Querying LoTW for Acceptance and Confirmation of Submitted QSOs
components:
  schemas: {}
